<div class="container-md">
  <div *ngIf="sensors">
    <div class="black-border small-inner-padding margin-small-vertical shadow-black" *ngFor="let sensor of sensors">
      <div *ngIf="sensor.name">
        Name: {{ sensor.name }}
      </div>
      <div>
        ID: {{sensor.id}}
      </div>
      <div>
        Name: {{sensor.name}}
      </div>
      <div>
        Type: {{sensor.type}}
      </div>
      <div>
        Unit of measurement: {{sensor.unit}}
      </div>
    </div>
  </div>
  <div *ngIf="!sensors" class="black-border small-inner-padding margin-small-vertical shadow-black">
    No sensors found
  </div>
  <div>
    <button class="full-width green-button small-inner-padding black-border shadow-black">+ Create new sensor</button>
  </div>
</div>
