<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username: </label>
    <input id="username" type="string" formControlName="username" />
  </div>
  <div>
    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password" />
  </div>
  <div>
    <button type="submit" [disabled]="!credentialsForm.valid">
      Submit
    </button>
  </div>
</form>
