<div class="container-md">
  <div class="black-border small-inner-padding margin-small-vertical shadow-black" *ngFor="let device of devices">
    <div>
      <a [routerLink]="['/devices', device.id, 'sensors']"> UUID: {{ device.id }}</a>
    </div>
    <div *ngIf="device.name">
      Name: {{ device.name }}
    </div>
  </div>
</div>
