/* You can add global styles to this file, and also import other style files */

.black-border {
  border: 3px solid black;
  border-radius: 3px;
}

.shadow-black {
  box-shadow: 6px 6px black;
}

.margin-small-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}

.small-inner-padding {
  padding: 5px;
}

.green-button {
  background-color: #53ef48;
}

.full-width {
  width: 100%;
}

a {
  text-decoration: none;
}
